meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
link(rel="icon" type="image/x-icon" href="images/favicon.ico")
//- title passed in from route as needs to vary
//- description passed in from route
//- url passed in from route
- var project = "DrumDev"
- var type = "website"
- var keywords = "Web, Design, Drumchapel, Development, WebDev, Drum, DrumDev, Website, We, Make, Websites, Blogs, SEO, Page, Speed, Responsive, Sites"

meta(name="author" content= project)
meta(name="copyright" content= project)
meta(name="application-name" content= project)
title= title

// for Google
meta(name="description" content= description)
meta(name="keywords" content= keywords)

// for Facebook
meta(property="og:title" content= title)
meta(property="og:type" content= type)
meta(property="og:image" content="http://drumdev.co.uk/public/images/dd-meta-img-fb.png")
meta(property="og:url" content= url)
meta(property="og:description" content= description)

// for Twitter
meta(name="twitter:card" content="summary")
meta(name="twitter:title" content= title)
meta(name="twitter:description" content= description)
meta(name="twitter:image" content="https://drumdev.co.uk/public/images/dd-meta-img-tw.png")
