
html{
    font-size:16px;
}
body {
  text-align: center;
  font-family: $ubunto-font;
  color: $black;
  background:$soft-white;
}

h1 {
  font-size: 2.4rem;
}
h2 {
    font-size: 2rem;
    padding-bottom: 40px;
}
h3 {
    font-size: 1.55rem;
    padding-bottom: 20px;
}
h4 {
    font-size: 1.35rem;
    padding-bottom:20px;
}
p{
    font-size:1rem;
    line-height: 1.25rem;
}

.text-muted{
  color: #868e96!important; // Older color was better than 4.3.1 color
}

.content{
    padding: 30px 15px;
}

.blue-bg .drum-btn{
    color: $white!important;
    background-color:$dark-blue!important;
    border-color: $dark-blue;
}
.blue-bg .drum-btn:hover{
    color: $gray!important;
    background-color:$dark-blue!important;
    border-color: $dark-blue;
}
ul:not(.navbar-nav) li{
    color:$dark-blue;
    list-style-type: square;
}
ul:not(.navbar-nav) li p{
    color:$black;
}

.smooth-scroll:hover{
    text-decoration: none;
}

.drum-btn{
    font-size:20px;
    color: $black;
    cursor: pointer;
    background-color:$soft-white;
    border-color:$light-gray;
    margin: 20px auto;
}
.drum-btn:hover{
    color: $white;
    background-color:$dark-blue;
    border-color: $dark-blue;
}
#hero .drum-btn:hover{
    color:$black;
    background-color:$light-blue;
    border-color: $gray;
}
.drum-btn:focus{
    box-shadow:0!important;
}

.temp-spacer{
    height:20px;
    width:100%;
    background:transparent;
}

/* Bootstraps Media Queries */

@media screen and (min-width: 576px){
    html{
        font-size:17px;
    }
    .content{
        padding: 40px 20px;
        overflow-x:hidden;
    }
    .limiter{
        max-width:576px;
        margin:0 auto;
    }
}
@media screen and (min-width: 767px){
    html{
        font-size:18px;
    }
    .content{
        padding: 50px 25px;
    }
    .limiter{
        max-width:767px;
    }
}
@media screen and (min-width: 992px){
    html{
        font-size:19px;
    }
    .content{
        padding: 60px 30px;
    }
    .limiter{
        max-width:997px;
    }
}
@media screen and (min-width: 1200px){
    html{
        font-size:20px;
    }
    .content{
        padding: 70px 35px;
    }
    .limiter{
        max-width:1200px;
    }
}

/* Custom Media Queries (the less of these - the better) */

@media screen and (max-width: 575px){
    .limiter{
        width:100%;
    }
}
