/***** Main styles *****/

/* COLORS  ---  hero blue: #1c2a4d  ---  content-white: #f7f7f9  ---  content-blue: #a5c7e2  ---  footer: #212237 */

html{
    font-size:16px;
}
body {
  text-align: center;
  font-family: "Ubuntu Condensed", sans-serif;
  color: black;
  background:#f7f7f9;
}

h1 {
  font-size: 2.4rem;
}
h2 {
    font-size: 2rem;
    padding-bottom: 40px;
}
h3 {
    font-size: 1.55rem;
    padding-bottom: 20px;
}
h4 {
    font-size: 1.35rem;
    padding-bottom:20px;
}
p{
    font-size:1rem;
    line-height: 1.25rem;
}

/* Header and Footer */

/* Navigation and Footer */

.navbar-brand{
  font-family: "Orbitron", sans-serif; /* Turn into image eventually to save loading a whole font */
}
.navbar{
    background:transparent;
    position: absolute;
    top:0;
    left:0;
}
.navbar a{
    color:#f7f7f9;
}
.navbar-toggler{
    cursor: pointer;
}
.navbar-nav li{
    background:#1c2a4d;
}
.navbar-nav li:hover{
    background:#a5c7e2;
}
.navbar-nav li:hover a{
    color:black;
}

footer{
    background:#212237;
}
footer h2{
    color:white;
}
footer p{
    color:white;
    font-size:1rem;
}
footer .link{
    color:white;
}
footer .link:hover{
    color:#a5c7e2;
    text-decoration: none;
}
.social, .social:visited{
    height:48px;
    margin-bottom:20px;
    margin: 20px 5px;
    cursor: pointer;
    transition-duration: .1s;
}
.social:hover{
    transform: rotate(10deg);
    transition-duration: .1s;
}

/* General Content and Shared Styles */

.content{
    padding: 30px 15px;
}
footer .content{
    padding-bottom:30px!important;
}
#hero{
    background-image:url(/img/banner-blue-hq.jpg);
    background-size:cover;
    padding-top:70px;
}
.blue-bg{
    background:#a5c7e2;
}
.blue-bg .drum-btn{
    color: white!important;
    background-color:#1c2a4d!important;
    border-color: #1c2a4d;
}
.blue-bg .drum-btn:hover{
    color: #dddddd!important;
    background-color:#1c2a4d!important;
    border-color: #1c2a4d;
}
ul:not(.navbar-nav) li{
    color:#1c2a4d;
    list-style-type: square;
}
ul:not(.navbar-nav) li p{
    color:black;
}

.smooth-scroll:hover{
    text-decoration: none;
}

.drum-btn{
    font-size:20px;
    color: black;
    cursor: pointer;
    background-color:#f7f7f9;
    border-color:#ccc;
    margin: 20px auto;
}
.drum-btn:hover{
    color: white;
    background-color:#1c2a4d;
    border-color: #1c2a4d;
}
#hero .drum-btn:hover{
    color:black;
    background-color:#a5c7e2;
    border-color: #8c8c8c;
}
            .drum-btn:focus{
                box-shadow:0!important;
            }

.temp-spacer{
    height:20px;
    width:100%;
    background:transparent;
}


/* Hero */

#hero h1{
    color:#f7f7f9;
    padding-bottom:30px;
}


/* What We Do */

#what-we-do p{
    padding:2px;
    text-align:left;
}
#what-we-do ul li{
    max-width:230px;
    margin:0 auto;
}
#what-we-do p.text-center{
    margin: 20px auto;
}
#what-we-do h3{
    text-align:left;
    margin: 0 auto;
    max-width:230px;
}


/* Who We Are */

#who-we-are ul{
    margin-left:10%;
}
#who-we-are .card{
    max-width:500px;
    margin:0 auto;
}
#who-we-are .card-header {
    padding: 5px;
}
#who-we-are .card a{
    color:#1c2a4d;
}
.dp{
    margin-bottom:20px;
}
#who-we-are .info{
    margin:0 auto;
}
#dd-content-w3 img{
    display:block;
    margin:0 auto 20px auto;
}


/* Our Work */

#our-work .project{
    margin:0 0 15px 0;
}
.img-on-device{
    width:100%;
    max-width:500px;
    margin-bottom:20px!important;
}
#latest-news .card{
    width:70%;
    margin:0 auto;
}
#latest-news .slick-next {
    right: 5px;
    z-index:1;
}
#latest-news .slick-prev {
    left: 5px;
    z-index:1;
}


/* Latest News */


/* Bootstraps Media Queries */

@media screen and (min-width: 576px){
    html{
        font-size:17px;
    }
    .content{
        padding: 40px 20px;
        overflow-x:hidden;
    }
    #hero{
        padding-top:100px;
    }
    .navbar {
        right: 0;
        display: block;
    }
    .navbar-brand{
        float: left;
    }
    .navbar-expand-sm .navbar-collapse {
        float: right;
    }
    .navbar-nav li{
        background:transparent;
    }
    .navbar-nav li:hover{
        background:transparent;
    }
    .navbar li:hover a{
        color:#a5c7e2;
    }
    .limiter{
        max-width:576px;
        margin:0 auto;
    }
    #what-we-do ul{
        margin-left:0;
    }
    #latest-news .card{
        width:80%;
    }
    #latest-news .card.odd{
        margin-left:20%;
    }
    #latest-news .card.even{
        margin-right:20%;
    }
    #latest-news .slick-next {
        right: 5px;
        z-index:1;
    }
    #latest-news .slick-prev {
        left: 5px;
        z-index:1;
    }
}
@media screen and (min-width: 767px){
    html{
        font-size:18px;
    }
    .content{
        padding: 50px 25px;
    }
    .navbar-brand {
        padding-left: 50px;
    }
    .navbar-expand-sm .navbar-collapse {
        padding-right:50px;
    }
    .limiter{
        max-width:767px;
    }
    #what-we-do ul li{
        max-width:260px;
    }
}
@media screen and (min-width: 992px){
    html{
        font-size:19px;
    }
    .content{
        padding: 60px 30px;
    }
    .navbar-brand {
        padding-left: 100px;
    }
    .navbar-expand-sm .navbar-collapse {
        padding-right:100px;
    }
    .limiter{
        max-width:997px;
    }
    #our-work .project{
        padding:0 30px;
        margin:0 auto;
    }
    .img-on-device{
        width:100%;
        max-width:500px;
        margin:20px auto!important;
    }
    #what-we-do p{
        text-align:left;
    }
    #what-we-do ul li{
        max-width:none;
        margin:0;
    }
    #latest-news .card{
        width:100%;
    }
    #latest-news .card.odd{
        margin-left:0;
    }
    #latest-news .card.even{
        margin-right:0;
    }
}
@media screen and (min-width: 1200px){
    html{
        font-size:20px;
    }
    .content{
        padding: 70px 35px;
    }
    .limiter{
        max-width:1200px;
    }
    .img-on-device {
        max-width: 600px;
    }
}

@media screen and (min-width: 1400px){

    #hero{
        height:500px;
        padding-top:180px;
    }
    .navbar-brand{
        font-size:2rem;
    }
    .navbar-nav li{
        font-size:1.25rem;
    }
    .navbar-nav{
        padding-top:10px;
    }
}


/* Custom Media Queries (the less of these - the better) */

@media screen and (max-width: 575px){
    .navbar{
        padding-left:0;
        padding-right:0;
        right:0;
    }
    .navbar-brand{
        margin-left:15px;
    }
    .navbar-toggler{
        margin-right:15px;
        background:#212237;
    }
    .limiter{
        width:100%;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .navbar-toggler:focus{
        outline:none;

    }
    .navbar-toggler.collapsed{
        background:#a5c7e2;
    }
}
@media screen and (min-width:576px) and (max-width:620px){
    .navbar-nav li {
        font-size: 0.9rem;
        padding-top: 2px;
    }
}

/* Min heights for latest news card text to keep them equal heights. Redo with flex eventually */
@media screen and (min-width: 992px) and (max-width:1040px){
    #latest-news .card-title + .card-text{
        min-height:115px;
    }
}
@media screen and (min-width: 1200px) and (max-width:1290px){
    #latest-news .card-title + .card-text{
        min-height:100px;
    }
}
