
nav{
  width:100%;
  display:block;
  position:relative;
  background-color:transparent;
  display:block;
  float:left;
  transition: background-color .4s ease-in-out;
  &.is-active{
    background-color: darken($dark-blue , 5%)
  }
  .limiter{
    padding: 10px 0 21px 0;
    float: left;
    display: block;
    width: 100%;
  }
}

.logo{
  font-family: $drumdev-font; /* Turn into image eventually to save loading a whole font */
}

.nav-brand{
  display:block;
  margin-left:40%;
  transform:translateX(-50%);
  float:left;
  color:$white;
  font-size:1.3rem;
  padding-top:5px;
  &:hover{
    text-decoration: none;
    color:$white;
  }
}

.hamburger{
  position: absolute;
  left: 67%;
  top:5px;
}

.nav-items{
  clear:both;
  background-color: $dark-blue;
  width:100%;
  max-width:0;
  position: absolute;
  top:66px;
  left:0;
  overflow:hidden;
  transition: max-width .4s ease-in-out;
  ul{
    a{
      li{
        padding:12px;
        color: $white;
        list-style: none;
        min-width:120px;
        background-color:$dark-blue;
        &.logo{
          font-size:20px;
        }
      }
      &:hover li{
        color:$light-blue;
      }
    }
  }
  &.is-active{
    max-width:100%;
  }
}




/* Bootstraps Media Queries */

@media screen and (min-width: 576px){
    nav{
      position:absolute;
      left:0;
      top:0;
    }
    .hamburger{
      display:none;
    }
}
