
$black: #000000;
$white: #ffffff;
$gray: #8c8c8c;
$light-gray: #cccccc;
$soft-white: #f7f7f9;
$dark-blue: #1c2a4d;
$light-blue: #a5c7e2;
$footer-purple: #212237;
$ubunto-font: "Ubuntu Condensed", sans-serif;
$drumdev-font: "Orbitron", sans-serif;
